/*
 * Custom Fonts
 * --------------------------------------------------
 */
@font-face {
    font-family: 'Neuropol';
    src: url("../fonts/NEUROPOL.TTF") format("truetype");
}

@font-face {
    font-family: 'Micro Extend';
    src: url("../fonts/MicroExtendFLF.ttf") format("truetype");
}

@font-face {
    font-family: 'Myriad';
    src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
}


/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 40px;
  background-color: #010303;
  color: white;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
footer {
  padding: 30px 0;
  text-align: center;
    font-family: 'Neuropol';
    font-weight: 100;
    font-size: 16px;
}

.footer {
    padding-top: 20px;
    margin-top: 20px;
    font-family: 'Neuropol';
    border-top: 2px solid #fff;
}

.footer.home {
    margin-top: 60px;
    border: 0;
}


body {
	font-family: 'Myriad';
}

h1 {
	 font-family: 'Neuropol';
}

h2 {
	font-family: 'Micro Extend';
    margin-top :0;
}

ul {
    margin-left: 0;
    padding-left: 0;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
/*
//Same height for divs in a .row
.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

/*.col-bottom-left, .col-top-left, .col-top-right, .col-bottom-right {
    text-align: justify;
    padding: 0 3em 2em 1.5em;
}*/

.site-logo-container {
    text-align: center;
}

.site-logo {
    max-width: 600px;
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
}

.home-menu-btn  {
	text-align: center;
    margin: 0 20px 20px 20px;
}

.home-menu-btn h1 {
    margin: 0;
}

.home-menu-btn a  {
    border-width: 1px;
    border-style: solid;
    background-color: #000;
    border-radius: 0 10px 10px 0;
    display: block;
    font-size: 30px;
    padding: 20px;
    -webkit-transition: background-color 500ms ease-out, color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out,  color 500ms ease-out;
    -o-transition: background-color 500ms ease-out, color 500ms ease-out;
    transition: background-color 500ms ease-out, color 500ms ease-out;
}

.home-menu-btn a:hover  {
    text-decoration: none;
    -webkit-transition: background-color 500ms ease-out, color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out,  color 500ms ease-out;
    -o-transition: background-color 500ms ease-out, color 500ms ease-out;
    transition: background-color 500ms ease-out, color 500ms ease-out;
}

.footer ul {
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.footer ul > li {
    display: inline-block;
    margin-right: 20px;
}

.footer ul > li > a {
    display: block;
    border-width: 1px;
    border-style: solid;
    background-color: #010303;
    border-radius: 0 5px 5px 0;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 2px 5px 2px 5px;
    min-width: 100px;
    text-transform: uppercase;
    -webkit-transition: background-color 500ms ease-out, color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out,  color 500ms ease-out;
    -o-transition: background-color 500ms ease-out, color 500ms ease-out;
    transition: background-color 500ms ease-out, color 500ms ease-out;
}

.footer ul > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    -webkit-transition: background-color 500ms ease-out, color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out,  color 500ms ease-out;
    -o-transition: background-color 500ms ease-out, color 500ms ease-out;
    transition: background-color 500ms ease-out, color 500ms ease-out;

}

.home-menu-btn a:hover, .home-menu-btn a:active, .home-menu-btn a:focus{
	text-decoration: none;

}

ul.home > li > a:hover, ul.home > li > a:active {
	color: #333333;
}

.alert-info {
	background-color: #333;
}

.scrollable.gray-skin .scroll-bar.vertical {
    background-color: transparent;
    border: 0;
}

.navigate-btn {
    display: block;
    padding: 2px 5px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 0 5px 5px 0;
    font-family: 'Neuropol';
    text-transform: uppercase;
}

.navigate-sub-btn {
    display: block;
    padding: 2px 5px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 0 5px 5px 0;
    font-family: 'Neuropol';
    text-transform: uppercase;
}

.navigate-sub-btn:hover,
.navigate-btn:hover
{
    text-decoration: none;
}

.nav-items {
    display: none;
}

.nav-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-items li {
   marign-bottom: 10px;
}

.navigation:hover .nav-items {
    display: block;
    font-family: 'Neuropol';
}

.center-block-content {
    border-radius: 0 10px 10px 0;
    border: 1px solid #fff;
    padding: 15px;
}

.border {
    margin-top: 20px;
    min-height: 1px;
    border-bottom: 1px solid #fff;
}

.col-top-left {
    border-right: 1px solid #fff;
}

.col-bottom-right {
    border-left: 1px solid #fff;
}

.col-top-left,
.col-top-right,
.col-bottom-left,
.col-bottom-right {
    margin-top: 20px;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
 * Digital Printing
 * --------------------------------------------------
 */
.alert-info.digitalPrinting, ul.digitalPrinting > li > a, .digitalPrinting h1 a, .digitalPrinting h2, .digitalPrinting a.active, .digitalPrinting a:focus, .digitalPrinting .jumbotron {
    color: #4ABEDC;
}

.alert-info.digitalPrinting,
ul.digitalPrinting > li > a,
.digitalPrinting,
.digitalPrinting hr,
.digitalPrinting .jumbotron,
.digitalPrinting .form-control,
.digitalPrinting .examples,
.digitalPrinting .examples-info,
.digitalPrinting .underline,
.digitalPrinting .border,

{
	border-color: #4ABEDC;
}

.digitalPrinting .navigate-btn,
.navigate-sub-btn.dp {
    border-color: #4ABEDC;
    color:  #4ABEDC !important;
}

.digitalPrinting .btn  {
    background-color: #4ABEDC;
    border-color: #2e6da4;
}

.home-menu-btn.digitalPrinting a:hover  {
    border-color: #2e6da4;
    background-color: #4ABEDC;
    color: #fff;
}

.digitalPrinting .scrollable.gray-skin .scroll-bar.vertical .thumb {
    background-color: #4ABEDC;
}

.digitalPrinting ul li a:hover, .digitalPrinting ul li a.active {
    text-decoration: none;
    color: #4ABEDC;
}

/*
 * XXl
 * --------------------------------------------------
 */
.alert-info.xxl, ul.xxl > li > a, .xxl h1 a, .xxl h2, .xxl a.active, .xxl a:focus, .xxl .jumbotron {
    color: #C7376C ;
}

.alert-info.xxl, ul.xxl > li > a, .xxl, .xxl hr, .xxl .jumbotron, .xxl .form-control, .xxl .examples, .xxl .examples-info ,
.xxl .underline ,
.xxl .border {
	border-color: #C7376C ;
}

.xxl .btn  {
    background-color: #C7376C;
    border-color: #A12D57;
}

.home-menu-btn.xxl a:hover  {
    border-color: #A12D57;
    background-color: #C7376C;
    color: #fff;
}


.xxl .scrollable.gray-skin .scroll-bar.vertical .thumb {
    background-color: #A12D57;
}

.xxl .navigate-btn,
.navigate-sub-btn.xxl {
    border-color: #C7376C;
    color:  #C7376C  !important;
}

.xxl ul li a:hover, .xxl ul li a.active {
    text-decoration: none;
    color: #C7376C;
}

/*
 * Offset
 * --------------------------------------------------
 */
.alert-info.offset, ul.offset > li > a, .offset h1 a, .offset h2, .offset a.active, .offset a:focus, .offset .jumbotron {
    color: #8FBC13 ;
}

.alert-info.offset, ul.offset > li > a, .offset, .offset hr, .offset .jumbotron, .offset .form-control, .offset .examples, .offset .examples-info,
.offset .underline ,
.offset .border {
	border-color: #8FBC13 ;
}

.offset .btn  {
    background-color: #8FBC13;
    border-color: #81A911;
}

.home-menu-btn.offset a:hover  {
    border-color: #81A911;
    background-color: #8FBC13;
    color: #fff;
}

.offset .scrollable.gray-skin .scroll-bar.vertical .thumb {
    background-color: #8FBC13;
}

.offset .navigate-btn,
.navigate-sub-btn.offset {
    border-color: #81A911;
    color:  #81A911 !important;
}

.offset ul li a:hover, .offset ul li a.active {
    text-decoration: none;
    color: #81A911;
}

/*
 * Web 2 Print
 * --------------------------------------------------
 */
.alert-info.web2print, ul.web2print > li > a, .web2print h1 a, .web2print h2, .web2print a.active, .web2print a:focus, .web2print .jumbotron {
    color: #F39911 ;
}

.alert-info.web2print, ul.web2print > li > a, .web2print, .web2print hr, .web2print .jumbotron, .web2print .form-control, .web2print .examples, .web2print .examples-info,
.web2print .underline,
.web2print .border
{
	border-color: #F39911 ;
}

.web2print .btn  {
    background-color: #F39911;
    border-color: #DB8A0F;
}

.home-menu-btn.web2print a:hover  {
    border-color: #F39911;
    background-color: #F39911;
    color: #fff;
}

.web2print .scrollable.gray-skin .scroll-bar.vertical .thumb {
    background-color: #F39911;
}

.web2print .navigate-btn,
.navigate-sub-btn.w2p {
    border-color: #F39911;
    color:  #F39911 !important;
}


.web2print ul li a:hover, .web2print ul li a.active {
    text-decoration: none;
    color: #F39911;
}


/*
 * Packaging
 * --------------------------------------------------
 */
.alert-info.packaging, ul.packaging > li > a, .packaging h1 a, .packaging h2, .packaging a.active, .packaging a:focus, .packaging .jumbotron {
    color: #F1E41B ;
}

.alert-info.packaging, ul.packaging > li > a, .packaging, .packaging hr, .packaging .jumbotron, .packaging .form-control, .packaging .examples, .packaging .examples-info,
.packaging .underline ,
.packaging .border {
	border-color: #F1E41B ;
}

.packaging .btn  {
    background-color: #F1E41B;
    border-color: #D9CD18;
    text-shadow: 3px 0px 2px rgba(150, 150, 150, 1);
    font-weight: bold;
}

.home-menu-btn.packaging a:hover  {
    border-color: #F1E41B;
    background-color: #F1E41B;
    color: #fff;
}

.packaging .scrollable.gray-skin .scroll-bar.vertical .thumb {
    background-color: #F1E41B;
}

.packaging .navigate-btn,
.navigate-sub-btn.pa {
    border-color: #F1E41B;
    color:  #F1E41B !important;
}

.packaging ul li a:hover, .packaging ul li a.active {
    text-decoration: none;
    color: #F1E41B;
}


/*
 * Creative
 * --------------------------------------------------
 */
.alert-info.creative, ul.creative > li > a, .creative h1 a, .creative h2, .creative a.active, .creative a:focus, .creative .jumbotron {
    color: #D40D1C ;
}

.alert-info.creative, ul.creative > li > a, .creative, .creative hr, .creative .jumbotron, .creative .form-control, .creative .examples, .creative .examples-info,
.creative .underline,
.creative .border
{
	border-color: #D40D1C ;
}

.creative .btn  {
    background-color: #D40D1C;
    border-color: #BF0C19;
}

.home-menu-btn.creative a:hover  {
    border-color: #BF0C19;
    background-color: #D40D1C;
    color: #fff;
}

.creative .scrollable.gray-skin .scroll-bar.vertical .thumb {
    background-color: #BF0C19;
}

.creative .navigate-btn,
.navigate-sub-btn.crea {
    border-color: #BF0C19;
    color:  #BF0C19 !important;
}

.creative ul li a:hover, .creative ul li a.active {
    text-decoration: none;
    color: #BF0C19;
}


a, a:hover {
    color: white;
}

.col-top-left, .col-top-right, .col-bottom-left, .col-bottom-right {
	text-align: justify;
}

.col-top-right > ul, .col-bottom-left > ul, .col-top-left > ul{
	list-style-type: none;
	padding-left: 0.5em;
}

.col-top-right > ul > li > span, .col-bottom-left > ul > li > span{
	padding-right: 0.25em;
}

h2 {
	text-align: left;
}

table {
	margin: 1em 0;
}

tr > td.day {
	width: 10em;
}

.container .jumbotron {
	border-width: 1px;
	border-style: solid;
    border-radius: 0 10px 10px 0;
	padding:  15px 20px 15px 40px;
    background: transparent;
}

.jumbotron h1 {
    margin: 0;
}

.underline {
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}

.form-group {
	margin-bottom: 0.5em;
}

.form-control {
	padding: 15px 20px;
	height: 2em;
	background-color: #333;
	color: white;
    border-radius: 0;
    border: 0;
}

.btn-primary {
    border-radius: 0;
    background-color: transparent;
    border-color: #fff;
    -webkit-transition: background-color 500ms ease-out, color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out,  color 500ms ease-out;
    -o-transition: background-color 500ms ease-out, color 500ms ease-out;
    transition: background-color 500ms ease-out, color 500ms ease-out;
}

.btn-primary:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
    -webkit-transition: background-color 500ms ease-out, color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out,  color 500ms ease-out;
    -o-transition: background-color 500ms ease-out, color 500ms ease-out;
    transition: background-color 500ms ease-out, color 500ms ease-out;
}

.examples, .examples-info {
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	padding: 1em;
}

.examples-info {
	margin-bottom: 20px;
    max-height: 150px;
    height: 150px;
}

.examples {
    max-height: 450px;
    height: 450px;
}

.google-map {
    width: 100%;
    height: 250px;
}

@media (max-width: 992px) {
    .nav-items {
        display: block;
    }

}
